body
{
	background-image: url("../img/fon1.jpg");
}
p
{
	color: #E3E3E3;
	font-weight: bold;
	font-size: 45px;
	font-family: 'Didact Gothic', sans-serif;
}
h1
{
	color: #E3E3E3;
	font-weight: bold;
	font-size: 75px;
	font-family: 'Didact Gothic', sans-serif;
}
div.osn
{
  width: 90%;
  height: 42%;  
  background-color: #464646;
  margin: 10 auto;
  padding: 10px;
}
