body
{
	background-image: url("../img/fon1.jpg");
}

}
.txt
{
	color: #E3E3E3;
	font-weight: bold;
	font-size: 45px;
	font-family: 'Didact Gothic', sans-serif;
}
h1
{
	color: #E3E3E3;
	font-weight: bold;
	font-size: 75px;
	font-family: 'Didact Gothic', sans-serif;
}
.stats
{
	width: 650px;
	/*position: absolute;
	left:700px;
	top:0px;*/
}
.osn
{
	width: 80%;
	height: 52%;  
	margin: 10 auto;
	padding: 10px;
  	display:flex;
	justify-content: center;
}

.polee
{
	width: 600px;
	height: 600px;
	background-color: #464646;
	/*position: absolute;
	left:5%;
	top:5%;*/
}
.minimap
{
	width: 600px;
	height: 600px;
	background-color: #464646;
	display: none;
	/*position: absolute;
	left:1200px;
	top:0px;*/
}
p
{
	color: #E7E7E7;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Didact Gothic', sans-serif;
}
.loading1
{
	position: absolute;
	left:32%;
	top:25%;
	width: 35%;
	height: 40%;
	z-index: 2;
	display: block;
}
.loadingfon
{
	position: absolute;
	left:0px;
	top:0px;
	z-index: 1;
	display: block;
}
.cords
{
	display: none;
	font-size: 15px;
	font-weight: normal;
}
.inf
{
	display:none;
	font-size: 15px;
	font-weight: normal;
}
.bonus
{
	display:none;
	font-size: 15px;
	font-weight: normal;
}
.hp
{
	width: 200px;
	height: 20px;
	background-color: #afafaf;
}
.fd
{
	width: 200px;
	height: 20px;
	background-color: #afafaf;
}
.wt
{
	width: 200px;
	height: 20px;
	background-color: #afafaf;
}
.lt
{
	width: 200px;
	height: 20px;
	background-color: #afafaf;
}
.info
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
}
.sett
{
	position: absolute;
	top: 50px;
	left: 10px;
	width: 30px;
}
.infodiv
{
	display: none;
	position: absolute;
	top: 10px;
	left: 60px;
	width: 85%;
	height: 65%;
	padding: 1px;
	margin: 15 auto;
	overflow: auto;
	background: rgba(0, 0, 0, 0.9);
	border: 5px solid #9f9f9f;
}
.settdiv
{
	opacity: 1;
	display: none;
	position: absolute;
	top: 10px;
	left: 60px;
	width: 85%;
	height: 65%;
	padding: 1px;
	margin: 15 auto;
	overflow: auto;
	background: rgba(0, 0, 0, 0.9);
	border: 5px solid #9f9f9f;
}
.help 
{
	font-size: 22px;
	font-weight: normal;
}
.help2 
{
	font-size: 15px;
}
.primkart
{
	width: 80px;
	float: right;
}
.primkart2
{
	width: 60px;
}
.author
{
	position: absolute;
	top: 0px;
	left: 94%;
	font-size: 18px;
	
}
.auth
{
	display: none;
	position: absolute;
	top: 10px;
	left: 80%;
	width: 13%;
	height: 65%;
	padding: 1px;
	margin: 15 auto;
	background: rgba(0, 0, 0, 0.9);
	border: 5px solid #9f9f9f;
}
.stat
{
	font-size: 15px;
	font-weight: normal;
}